.button__link {
  border: none;
  color: $soft-blue;
  display: inline-block;
  font-size: $m-size;
  font-weight: 200;
  line-height: 1;
  padding: $xs-size;
  text-decoration: none;
}
.button__link:hover {
  font-weight: bold;
}

.button--secondary {
  background: #888;
}

@media (min-width: $desktop-breakpoint) {
  .button__link {
    font-size: $xm-size;
    font-weight: 300;
    padding: $s-size;
  }
}
