.header {
  padding: $xs-size $xs-size;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header__logo {
  padding-right: $xs-size;
  height: auto;
  width: auto;
  min-width: 100px;
}
.header__img {
  width: 100%;
}
.header__menu {
  padding: $xs-size $xs-size;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    padding: $m-size $s-size;
  }

  .header__logo {
    padding-right: $l-size;
  }
}
