html {
  font-size: 62.5%;
}

body {
  background: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.selected {
  color: white;
}

.header {
  padding: 0.8rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.header__logo {
  padding-right: 0.8rem;
  height: auto;
  width: auto;
  min-width: 100px;
}

.header__img {
  width: 100%;
}

.header__menu {
  padding: 0.8rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 45rem) {
  .header {
    padding: 1.6rem 1.2rem;
  }
  .header__logo {
    padding-right: 3.2rem;
  }
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 1.2rem 1.6rem;
  background: #d3edf9;
}

.default {
  padding: 1.6rem;
  font-size: 2.4rem;
  color: #29abe2;
}

.widget {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}

.widget-header {
  font-size: 1.6rem;
  color: #29abe2;
  text-align: center;
  width: 100%;
}

.widget-form {
  max-width: 40rem;
  font-size: 1.2rem;
}

.widget-form-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1.2rem;
  border-bottom: 0.1rem solid #83ceee;
}

.widget-form-item-label {
  padding-bottom: 1.2rem;
  color: #575656;
}

.widget-resultado {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 700ms;
}

.widget-resultado-item {
  background: #0071bc;
  padding: 1.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.2rem 1.2rem;
  border: 0.1rem solid #575656;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 45rem) {
  .widget-resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .widget-resultado-item {
    font-size: 1.6rem;
  }
  .widget-form {
    font-size: 1.6rem;
  }
  .widget-header {
    font-size: 2.4rem;
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #0071bc;
}

.button__link {
  border: none;
  color: #29abe2;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1;
  padding: 0.8rem;
  text-decoration: none;
}

.button__link:hover {
  font-weight: bold;
}

.button--secondary {
  background: #888;
}

@media (min-width: 45rem) {
  .button__link {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 1.2rem;
  }
}
